@use "./login";
@use "./home";
@use "./variables";
@use "./profiledialog";
@use "./search";
@use "./result";
body {
  background-color: variables.$background;
  margin: 0;
}

.loading {
  position: fixed;
  font-size: 24px;
  font-weight: bolder;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(87, 87, 87, 0.8);
  z-index: 9999;
}
